/* Universal */
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* header */
header {
    color: black;
    padding: 20px 20px;
    position: relative;
}

.header-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0px 15px 0px 30px;
    background-color: #303030;
    border-top-left-radius: 8px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 8px;
    margin: 0 auto;
}

.logo {
    width: 20%;
}

.logo img {
    height: 50px;
}

.edu-nav {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu ul li {
    position: relative;
    margin: 0 15px;
}

.nav-menu ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Satoshi;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    transition: 0.2s ease-in-out;
}

.nav-menu ul li a:hover {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: orange;
    font-family: Satoshi;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    transition: 0.2s ease-in-out;
}

.checkbtn {
    font-size: 30px;
    color: black;
    line-height: 80px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 30px;
}

#check {
    display: none;
}

.header-button {
    display: flex;
    gap: 15px;
}

.cart-btn {
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #2B637742;
    font-size: 16px;
    line-height: 19px;
    font-family: Satoshi;
    font-weight: 500;
}

.cart-btn:hover {
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 50px;
    color: #fff;
    background-color: #2B637742;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 19px;
    font-family: Satoshi;
    font-weight: 500;
}

.shop-btn {
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 50px;
    color: #fff;
    background-color: #E0900E;
    border: 1px solid #2B637742;
    font-size: 16px;
    line-height: 19px;
    font-family: Satoshi;
    font-weight: 500;
}

.shop-btn:hover {
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 50px;
    background-color: #E0900E;
    color: #2d2d2d;
    border: 1px solid #2d2d2d;
    font-size: 16px;
    line-height: 19px;
    font-family: Satoshi;
    font-weight: 500;
}

/* hero style */
.main {
    width: 100%;
    height: 488px;
    display: flex;
    background: url('./assets/images/banner\ 1.png') center center no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 60px 0px;
}

.main-child {
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (min-width: 1400px) {
    .main-child {
        max-width: 1350px;
    }
}

.main-child h2 {
    width: 50%;
    font-family: 'Urbanist';
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    margin: 5px 0px;
    text-align: left;
    color: #222222;
}

.main-child p {
    width: 50%;
    font-family: 'Urbanist';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #474747;
}

.travel-from-to {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.travel-from {
    width: 100%;
    padding: 10px 30px;
    border: #F94239 solid 1px;
    background-color: white;
}

.travel-from h4 {
    font-family: 'Mulish';
    font-size: 14px;
    font-weight: 700;
    line-height: 17.57px;
    text-align: left;
}

.travel-from p {
    width: 100%;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.08px;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.travel-to {
    width: 100%;
    padding: 10px 30px;
    border: #F94239 solid 1px;
    background-color: white;
}


.travel-to h4 {
    font-family: 'Mulish';
    font-size: 14px;
    font-weight: 700;
    line-height: 17.57px;
    text-align: left;
}

.travel-to p {
    width: 100%;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.08px;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.main-btns {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.main-btns a {
    width: 165px;
    text-decoration: none;
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 700;
    background-color: #F94239;
    line-height: 22.59px;
    border: 1px solid #F94239;
    text-align: center;
    color: white;
    padding: 10px 30px;
}

.main-btns a:hover {
    width: 165px;
    text-decoration: none;
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 700;
    background-color: #F94239;
    line-height: 22.59px;
    border: 1px solid black;
    text-align: center;
    color: black;
    padding: 10px 30px;
}

/* hero css */
.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0px 60px 0px;
}

.hero-child {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-child-left {
    width: 48%;
}

.hero-top {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ht-left {
    width: 48%;
}

.ht-left span {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
}

.ht-right {
    width: 48%;
    text-align: right;
}

.hero-child-left h1 {
    font-family: Unna;
    font-weight: 700;
    font-size: 95px;
    line-height: 90%;
    letter-spacing: 0%;
    color: #E0900E;
    margin: 30px 0px;
}

.hero-child-left p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
}

.oil-members {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
}

.om-left {
    width: 38%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.om-right {
    width: 58%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.profiles {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 50px;
}

.profiles img {
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #e7e7e7;
}

.profiles img:nth-child(1) {
    left: 0;
}

.profiles img:nth-child(2) {
    left: 15px;
    z-index: 1;
}

.profiles img:nth-child(3) {
    left: 30px;
    z-index: 2;
}

.title {
    font-family: Satoshi;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
}

.hero-child-right {
    width: 48%;
}

.hero-child-right img {
    width: 100%;
}

.btn-see-products {
    width: 150px;
    height: 250px;
    padding: 25px 20px;
    margin-top: -80px;
    border-top: 1px solid #2B6377;
    border-bottom: 10px solid black;
    border-left: 1px solid #2B6377;
    border-right: 1px solid #2B6377;
    border-radius: 100px 100px 50px 50px;
}

.see-pro {
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0900E;
    border-radius: 50%;
    text-decoration: none;
    color: white;
}

.hero a {
    width: 90px;
    height: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0900E;
    border-radius: 50%;
    text-decoration: none;
    border: 2px solid #fff;
    color: white;
    font-family: Satoshi;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
}

/* our-gallery */
.our-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.og-child {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (min-width: 1400px) {
    .og-child {
        max-width: 1250px;
    }
}

.og-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.og-top-left {
    width: 60%;
}

.og-top-left img {
    width: 100%;
    height: 291px;
}

.og-top-right {
    width: 40%;
}

.og-top-right img {
    width: 100%;
    height: 291px;
}

.og-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.og-bot-left {
    width: 40%;
}

.og-bot-left img {
    width: 100%;
    height: 291px;
}

.og-bot-right {
    width: 60%;
}

.og-bot-right img {
    width: 100%;
    height: 291px;
}

/* pro-types */
.pro-types {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -160px; */
    background-color: black;
    position: relative;
    padding: 60px 0px 30px 0px;
}

.pro-types-child {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1400px) {
    .pro-types-child {
        max-width: 1300px;
    }
}

.pro-types-child h2 {
    width: 60%;
    font-family: Yadon;
    font-weight: 500;
    font-size: 63px;
    line-height: 90%;
    letter-spacing: 0%;
    text-align: center;
    color: #E0900E;
    margin-bottom: 30px;
}

.type-one {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.type-one-child {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toc-left {
    width: 50%;
}

.toc-left img {
    width: 100%;
}

.toc-right {
    width: 50%;
    padding: 40px;
    border: 2px solid #E0900E;
    border-top: 1px solid #E0900E;
    border-bottom: 1px solid #E0900E;
    border-left: 1px solid transparent;
    border-right: 1px solid #E0900E;
    margin-left: -20px;
    margin-top: -40px;
}

.toc-right h3 {
    font-family: Unna;
    font-weight: 700;
    font-size: 47px;
    line-height: 90%;
    letter-spacing: 0%;
    color: #E0900E;
}

.toc-right p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
    margin: 25px 0px;
}

.toc-right a {
    font-family: Satoshi;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #E0900E;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.type-two {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0px;
}

.type-two-child {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ttc-left {
    width: 50%;
}

.ttc-left img {
    width: 100%;
}

.ttc-right {
    width: 50%;
    padding: 40px;
    border: 2px solid #E0900E;
    border-top: 1px solid #E0900E;
    border-bottom: 1px solid #E0900E;
    border-left: 1px solid transparent;
    border-right: 1px solid #E0900E;
    margin-left: -20px;
    margin-top: -40px;
}

.ttc-right h3 {
    font-family: Unna;
    font-weight: 700;
    font-size: 47px;
    line-height: 90%;
    letter-spacing: 0%;
    color: #E0900E;
}

.ttc-right p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
    margin: 25px 0px;
}

.ttc-right a {
    font-family: Satoshi;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #E0900E;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

/* best-selling-products */
.bs-products-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bs-products-slider-child {
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1400px) {
    .bs-products-slider-child {
        max-width: 1300px;
    }
}

.bs-products-slider-child h2 {
    font-family: Yadon;
    font-weight: 500;
    font-size: 63px;
    line-height: 90%;
    letter-spacing: 0%;
    text-align: center;
    color: #E0900E;
    margin: 0px 0px 40px 0px;
}

.bs-product-slider-wrapper {
    width: 100%;
    margin: 0 auto;
}

.bs-product-col-wrapper {
    text-align: center;
    margin: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FFA3B3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bs-product-col {
    box-sizing: border-box;
}

.single-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 5px;
}

.single-product a {
    width: 100%;
}

.single-product a img {
    width: 100%;
}

.prod-details {
    width: 100%;
    padding: 30px 30px 50px 30px;
    background-color: #141311;
}

.prod-details h3 {
    font-family: Unna;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E0900E;
    margin: 0px;
}

.prod-details p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E0900E;
    margin: 20px 0px 40px 0px;
    padding: 0px;
}

.prod-details span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E0900E;
}

.prod-details a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #E0900E;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    padding: 20px 40px;
    margin: 0px;
}

/* inspired-by */
.inspired-by {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}

.inspired-by h2 {
    width: 60%;
    font-family: Yadon;
    font-weight: 500;
    font-size: 63px;
    line-height: 90%;
    letter-spacing: 0%;
    text-align: center;
    color: #E0900E;
    margin-bottom: 30px;
}

.inspired-by-child {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1400px) {
    .inspired-by-child {
        max-width: 1300px;
    }
}

.ib-left {
    width: 48%;
    display: flex;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.g-img-left {
    width: 50%;
}

.g-img-left img {
    width: 100%;
}

.g-img-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.g-img-right img {
    width: 100%;
}

.ib-right {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ib-details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.ibd-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.ib-single {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.ibs-img {
    padding: 20px;
    background-color: #E0900E;
    border-radius: 50%;
}

.ibs-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ibs-details h3 {
    font-family: Urbanist;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1%;
    color: white;
}

.ibs-details p {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1%;
    vertical-align: middle;
    color: white;
}

/* customer feedback */
.bs-reviews-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bs-reviews-slider-child {
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1400px) {
    .bs-reviews-slider-child {
        max-width: 1300px;
    }
}

.bs-reviews-slider-child h2 {
    width: 80%;
    font-family: Yadon;
    font-weight: 500;
    font-size: 63px;
    line-height: 90%;
    letter-spacing: 0%;
    text-align: center;
    color: #E0900E;
    margin: 0px 0px 40px 0px;
}

.bs-review-slider-wrapper {
    width: 100%;
    margin: 0 auto;
}

.bs-review-col-wrapper {
    text-align: center;
    margin: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FFA3B3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bs-review-col {
    margin: 0px 20px;
}

.slick-next,
.slick-prev {
    text-indent: -9999px;
    background-size: contain;
    border: none !important;
    position: absolute;
    z-index: 10;
    display: none;
}

.slick-prev::before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    font-size: 16px;
    color: white !important;
    text-indent: 0px;
    display: none;
}

.slick-next::before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    font-size: 16px;
    color: white !important;
    text-indent: 0px;
    display: none;
}

.slick-next,
.slick-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: none !important;
    margin: 0px !important;
}

.slick-prev {
    display: none;
    left: -22px;
}

.slick-next {
    display: none;
    right: -8px;
}

.slick-prev:hover,
.slick-next:hover {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
}

.slick-arrow {

    display: none;
}

.slick-dots {
    display: block !important;
    visibility: visible !important;
}

.slick-dots {
    display: block !important;
    /* Force display of dots */
}

/* Optional: You can also tweak the position or style of the dots if needed */
.slick-dots li button:before {
    color: #E0900E !important;
    /* Change color of dots if needed */
}

/* Show slick-dots only on desktop */
@media (min-width: 1024px) {
    .slick-dots {
        display: block !important;
    }
}

.single-review {
    width: 100%;
}

.single-review img {
    margin-left: 50px;
    margin-bottom: -50px;
}

.review-details {
    width: 100%;
    background-color: #E0900E;
    padding: 100px 50px 50px 50px;
}

.review-details p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0px;
    color: white;
}

.review-details h3 {
    font-family: Unna;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    color: white;
}

.review-details span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;
}

/* get-to-know */
.get-to-know {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gtk-child {
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
}

@media (min-width: 1400px) {
    .gtk-child {
        max-width: 1300px;
    }
}

.gtk-left {
    width: 45%;
}

.gtk-left h2 {
    font-family: Abhaya Libre ExtraBold;
    font-weight: 800;
    font-size: 63px;
    line-height: 90%;
    letter-spacing: 0%;
    color: #E0900E;
}

.gtk-left p {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 1%;
    color: white;
    margin: 30px 0px;
}

.gtk-left a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #E0900E;
    padding: 12px 32px;
    border-radius: 50px;
    color: white;
}

.gtk-left a i {
    margin-left: 10px;
}

.gtk-right {
    width: 45%;
}

.gtk-right img {
    width: 100%;
}

/* faqs */
.faqs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/images/faqs-pt.png') center center no-repeat;
    background-size: 100% 280px;
    background-color: #141311;
    padding: 50px 0px;
}

.faqs-child {
    width: 85%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 1400px) {
    .faqs-child {
        max-width: 1300px;
    }
}

.faqs-child-left {
    width: 40%;
}

.faqs-child-left h3 {
    font-family: Urbanist;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 1%;
    color: #fff;
    margin-top: 30px;
}

.faqs-child-left a {
    width: 250px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 30px;
    padding: 12px 22px;
    color: white;
    font-weight: 600;
    gap: 10px;
    background-color: #E0900E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqs-child-right {
    width: 56%;
}

.accordion {
    background-color: transparent;
}

.accordion-item {
    border: none;
    background-color: transparent;
    padding: 15px 0px;
}

.accordion-header {
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-family: Urbanist;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;

}

.accordion-button {
    background-color: transparent;
    color: white;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: transparent;
    box-shadow: none;
}

.accordion-button:hover {
    background-color: transparent;
    outline: none;
}

.accordion-button:focus {
    border-color: #fff;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

.accordion-body {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 1%;
    vertical-align: middle;
    color: white;
}

.accordion-button {
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.accordion-button::after {
    content: '';
    display: inline-block;
    background-image: url('./assets/images/arrow-down.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-left: 10px;
    padding: 15px;
    border-radius: 50px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('./assets/images/arrow-up.png');
    background-size: contain;
    padding: 15px;
    border-radius: 50px;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    background-color: #E0900E;
}

.accordion-button.collapsed::after {
    background-color: #E0900E;
}

/* footer */
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    margin-top: 60px;
    border: 1px solid #E0900E;
}

.footer p {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1%;
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: 30px 0px 0px 0px;
    padding: 0px;
}

.footer-child {
    width: 85%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}

@media (min-width: 1400px) {
    .footer-child {
        max-width: 1300px;
    }
}

.footer-child-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.foot-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.foot-logo img {
    width: 30%;
}

.footer-child-left ul {
    padding: 0px;
    list-style: none;
}

.footer-child-left ul li {
    padding: 5px 0px;
}

.footer-child-left ul li a {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 1%;
    color: white;
    text-decoration: none;
}

.footer-child-right {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-child-right ul {
    padding: 0px;
    list-style: none;
}

.footer-child-right ul li {
    padding: 5px 0px;
}

.footer-child-right ul li a {
    font-family: Urbanist;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 1%;
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {

    /* bcs header Styles for the toggle button */
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }

    .checkbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #E0900E;
        cursor: pointer;
        font-size: 24px;
        margin-right: 10px;
    }

    .logo {
        width: 20%;
    }

    .logo img {
        height: 50px;
    }

    .nav-menu {
        position: fixed;
        z-index: 999;
        width: 90%;
        height: 100vh;
        background: rgba(20, 19, 17, 1);
        top: 0;
        box-shadow: rgba(0, 0, 0, 0.2) 4px 12px 12px !important;
        left: -100%;
        transition: left 0.5s;
        text-align: left;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-top: 80px;
    }

    .nav-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu li {
        list-style: none;
        padding: 15px 20px;
        font-size: 16px;
        color: white;
    }

    .nav-menu ul li a {
        text-decoration: none;
        color: white;
        display: block;
        text-align: left;
        font-family: Satoshi;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        transition: 0.2s ease-in-out;
        padding: 10px 25px;
    }

    .nav-menu ul li a:hover {
        color: orange;
        font-family: Satoshi;
    }

    #check:checked~.edu-nav .nav-menu {
        left: 0;
    }


    .checkbtn .fa {
        font-size: 35px;
        transition: color 0.3s;
    }


    #check~.checkbtn .fa-times {
        display: none;
    }

    #check:checked~.checkbtn .fa-bars {
        display: none;
    }

    #check:checked~.checkbtn .fa-times {
        display: block;
    }

    .header-button {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        display: none;
    }

    /* hero style */
    .main {
        width: 100%;
        height: auto;
        display: flex;
        background: url('./assets/images/banner\ 1.png') right right no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        margin: 30px 0px 60px 0px;
    }

    .main-child {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .main-child h2 {
        width: 100%;
        font-family: 'Urbanist';
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        margin: 5px 0px;
        text-align: left;
        color: #222222;
    }

    .main-child p {
        width: 100%;
        font-family: 'Urbanist';
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: #474747;
    }

    .travel-from-to {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .travel-from {
        width: 100%;
        padding: 10px 30px;
        border: #F94239 solid 1px;
        background-color: white;
    }

    .travel-from h4 {
        font-family: 'Mulish';
        font-size: 14px;
        font-weight: 700;
        line-height: 17.57px;
        text-align: left;
    }

    .travel-from p {
        width: 100%;
        font-family: 'Mulish';
        font-size: 16px;
        font-weight: 400;
        line-height: 20.08px;
        padding: 0px;
        margin: 0px;
        text-align: left;
    }

    .travel-to {
        width: 100%;
        padding: 10px 30px;
        border: #F94239 solid 1px;
        background-color: white;
    }


    .travel-to h4 {
        font-family: 'Mulish';
        font-size: 14px;
        font-weight: 700;
        line-height: 17.57px;
        text-align: left;
    }

    .travel-to p {
        width: 100%;
        font-family: 'Mulish';
        font-size: 16px;
        font-weight: 400;
        line-height: 20.08px;
        padding: 0px;
        margin: 0px;
        text-align: left;
    }

    .main-btns {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .main-btns a {
        width: 165px;
        text-decoration: none;
        font-family: 'Mulish';
        font-size: 18px;
        font-weight: 700;
        background-color: #F94239;
        line-height: 22.59px;
        border: 1px solid #F94239;
        text-align: center;
        color: white;
        padding: 10px 30px;
    }

    .main-btns a:hover {
        width: 165px;
        text-decoration: none;
        font-family: 'Mulish';
        font-size: 18px;
        font-weight: 700;
        background-color: #F94239;
        line-height: 22.59px;
        border: 1px solid black;
        text-align: center;
        color: black;
        padding: 10px 30px;
    }

    /* hero css */
    .hero {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 40px 0px 60px 0px;
    }

    .hero-child {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .hero-child-left {
        width: 100%;
    }

    .hero-top {
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ht-left {
        width: 100%;
    }

    .ht-left span {
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        color: white;
    }

    .ht-right {
        width: 48%;
        text-align: right;
    }

    .hero-child-left h1 {
        font-family: Unna;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0%;
        color: #E0900E;
        margin: 20px 0px;
    }

    .hero-child-left p {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        color: white;
    }

    .oil-members {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0px;
    }

    .om-left {
        width: 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .om-right {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .profiles {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 50px;
    }

    .profiles img {
        position: absolute;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: #e7e7e7;
    }

    .profiles img:nth-child(1) {
        left: 0;
    }

    .profiles img:nth-child(2) {
        left: 15px;
        z-index: 1;
    }

    .profiles img:nth-child(3) {
        left: 30px;
        z-index: 2;
    }

    .title {
        font-family: Satoshi;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
        color: white;
    }

    .hero-child-right {
        width: 100%;
    }

    .hero-child-right img {
        width: 100%;
    }

    .btn-see-products {
        width: 150px;
        height: 250px;
        padding: 25px 20px;
        margin-top: -80px;
        border-top: 1px solid #2B6377;
        border-bottom: 10px solid black;
        border-left: 1px solid #2B6377;
        border-right: 1px solid #2B6377;
        border-radius: 100px 100px 50px 50px;
    }

    .see-pro {
        width: 110px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E0900E;
        border-radius: 50%;
        text-decoration: none;
        color: white;
    }

    .hero a {
        width: 90px;
        height: 90px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E0900E;
        border-radius: 50%;
        text-decoration: none;
        border: 2px solid #fff;
        color: white;
        font-family: Satoshi;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;

    }

    /* pro-types */
    .pro-types {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: -160px; */
        background-color: black;
        position: relative;
        padding: 60px 0px 60px 0px;
    }

    .pro-types-child {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pro-types-child h2 {
        width: 100%;
        font-family: Yadon;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0%;
        text-align: center;
        color: #E0900E;
        margin-bottom: 30px;
    }

    .type-one {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .type-one-child {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .toc-left {
        width: 100%;
    }

    .toc-left img {
        width: 100%;
    }

    .toc-right {
        width: 100%;
        padding: 20px;
        border: 2px solid #E0900E;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #E0900E;
        border-left: 1px solid #E0900E;
        border-right: 1px solid #E0900E;
        margin-top: -20px;
        margin-left: 0px;
    }

    .toc-right h3 {
        font-family: Unna;
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0%;
        color: #E0900E;
    }

    .toc-right p {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        color: white;
        margin: 15px 0px;
    }

    .toc-right a {
        font-family: Satoshi;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
        color: #E0900E;
        gap: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
    }

    .type-two {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 40px 0px;
    }

    .type-two-child {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .ttc-left {
        width: 100%;
    }

    .ttc-left img {
        width: 100%;
    }

    .ttc-right {
        width: 100%;
        padding: 20px;
        border: 2px solid #E0900E;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #E0900E;
        border-left: 1px solid #E0900E;
        border-right: 1px solid #E0900E;
        margin-top: -30px;
        margin-left: 0px;
    }

    .ttc-right h3 {
        font-family: Unna;
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0%;
        color: #E0900E;
    }

    .ttc-right p {
        font-family: Roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0%;
        color: white;
        margin: 25px 0px;
    }

    .ttc-right a {
        font-family: Satoshi;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
        color: #E0900E;
        gap: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
    }

    /* best-selling-products */
    .bs-products-slider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bs-products-slider-child {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bs-products-slider-child h2 {
        font-family: Yadon;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0%;
        text-align: center;
        color: #E0900E;
        margin: 0px 0px 40px 0px;
    }

    .bs-product-slider-wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .bs-product-col-wrapper {
        text-align: center;
        margin: 10px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #FFA3B3;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .bs-product-col {
        box-sizing: border-box;
    }

    .single-product {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 5px;
    }

    .single-product img {
        width: 100%;
    }

    .prod-details {
        width: 100%;
        padding: 30px 30px 50px 30px;
        background-color: #141311;
    }

    .prod-details h3 {
        font-family: Unna;
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #E0900E;
        margin: 0px;
    }

    .prod-details p {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #E0900E;
        margin: 20px 0px 40px 0px;
        padding: 0px;
    }

    .prod-details span {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #E0900E;
    }

    .prod-details a {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0%;
        color: #E0900E;
        text-decoration: none;
        text-transform: uppercase;
        background-color: white;
        padding: 20px 40px;
        margin: 0px;
    }


    /* inspired-by */
    .inspired-by {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 0px;
    }

    .inspired-by h2 {
        width: 90%;
        font-family: Yadon;
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0%;
        text-align: center;
        color: #E0900E;
        margin-bottom: 30px;
    }

    .inspired-by-child {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .ib-left {
        width: 100%;
        display: flex;
    }

    .gallery {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .g-img-left {
        width: 50%;
    }

    .g-img-left img {
        width: 100%;
    }

    .g-img-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .g-img-right img {
        width: 100%;
    }

    .ib-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .ib-details {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0px 0px 0px;
    }

    .ibd-child {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .ib-single {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .ibs-img {
        padding: 20px;
        background-color: #E0900E;
        border-radius: 50%;
    }

    .ibs-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .ibs-details h3 {
        font-family: Urbanist;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 1%;
        color: white;
    }

    .ibs-details p {
        font-family: Urbanist;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1%;
        vertical-align: middle;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 2.50em;
    }

    /* customer feedback */
    .bs-reviews-slider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bs-reviews-slider-child {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bs-reviews-slider-child h2 {
        width: 100%;
        font-family: Yadon;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0%;
        text-align: center;
        color: #E0900E;
        margin: 0px 0px 40px 0px;
    }

    .bs-review-slider-wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .bs-review-col-wrapper {
        text-align: center;
        margin: 10px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #FFA3B3;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .bs-review-col {
        margin: 0px 20px;
    }

    .slick-next,
    .slick-prev {
        text-indent: -9999px;
        background-size: contain;
        border: none !important;
        position: absolute;
        z-index: 10;
        display: flex;
    }

    .slick-prev::before {
        content: "\f053";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: white;
        font-size: 16px;
        color: white !important;
        text-indent: 0px;
        display: flex;
    }

    .slick-next::before {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: white;
        font-size: 16px;
        color: white !important;
        text-indent: 0px;
        display: flex;
    }

    .slick-next,
    .slick-prev {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: rgba(224, 144, 14, 0.5);
        color: white;
        cursor: pointer;
        display: flex !important;
        margin: 0px !important;
    }

    .slick-prev {
        display: flex;
        left: -22px;
    }

    .slick-next {
        display: flex;
        right: -8px;
    }

    .slick-prev:hover,
    .slick-next:hover {
        display: flex;
        background-color: rgba(224, 144, 14, 0.9);
    }

    .slick-arrow {

        display: none;
    }

    .slick-dots {
        display: block !important;
        visibility: visible !important;
    }

    .slick-dots li button {
        width: 25px;
        height: 25px;
    }

    .slick-dots li button:before {
        font-size: 10px;
    }

    .single-review {
        width: 100%;
    }

    .single-review img {
        margin-left: 30px;
        margin-bottom: -50px;
    }

    .review-details {
        width: 100%;
        background-color: #E0900E;
        padding: 75px 30px 30px 30px;
    }

    .review-details p {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0px;
        color: white;
    }

    .review-details h3 {
        font-family: Unna;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0px;
        color: white;
    }

    .review-details span {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0px;
        color: white;
    }

    /* get-to-know */
    .get-to-know {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gtk-child {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 60px 0px;
        gap: 40px;
    }

    .gtk-left {
        width: 100%;
    }

    .gtk-left h2 {
        font-family: Abhaya Libre ExtraBold;
        font-weight: 800;
        font-size: 36px;
        line-height: 40p;
        letter-spacing: 0%;
        color: #E0900E;
        margin: 0px 0px 30px 0px;
    }

    .gtk-left p {
        font-family: Urbanist;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 1%;
        color: white;
        margin: 30px 0px;
    }

    .gtk-left a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        text-transform: capitalize;
        text-decoration: none;
        background-color: #E0900E;
        padding: 12px 32px;
        border-radius: 50px;
        color: white;
    }

    .gtk-left a i {
        margin-left: 10px;
    }

    .gtk-right {
        width: 100%;
    }

    .gtk-right img {
        width: 100%;
    }

    /* faqs */
    .faqs {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('./assets/images/faqs-pt.png') center center no-repeat;
        background-size: 100% 280px;
        background-color: #141311;
        padding: 50px 0px;
    }

    .faqs-child {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .faqs-child-left {
        width: 100%;
    }

    .faqs-child-left h3 {
        font-family: Urbanist;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 1%;
        color: #fff;
        margin-top: 30px;
    }

    .faqs-child-left a {
        width: 250px;
        border-radius: 50px;
        text-decoration: none;
        margin-top: 30px;
        padding: 12px 22px;
        color: white;
        font-weight: 600;
        gap: 10px;
        background-color: #E0900E;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .faqs-child-right {
        width: 100%;
    }

    .accordion {
        background-color: transparent;
    }

    .accordion-item {
        border: none;
        background-color: transparent;
        padding: 15px 0px;
    }

    .accordion-header {
        border-bottom: 1px solid #fff;
        background-color: transparent;
        font-family: Urbanist;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0%;
        vertical-align: middle;

    }

    .accordion-button {
        background-color: transparent;
        color: white;
    }

    .accordion-button:not(.collapsed) {
        color: white;
        background-color: transparent;
        box-shadow: none;
    }

    .accordion-button:hover {
        background-color: transparent;
        outline: none;
    }

    .accordion-button:focus {
        border-color: #fff;
        outline: none;
        background-color: transparent;
        box-shadow: none;
    }

    .accordion-body {
        font-family: Urbanist;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 1%;
        vertical-align: middle;
        color: white;
    }

    .accordion-button {
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: background-color 0.3s ease;
        border-radius: 8px;
    }

    .accordion-button::after {
        content: '';
        display: inline-block;
        background-image: url('./assets/images/arrow-down.png');
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease, background-color 0.3s ease;
        margin-left: 10px;
        padding: 15px;
        border-radius: 50px;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url('./assets/images/arrow-up.png');
        background-size: contain;
        padding: 15px;
        border-radius: 50px;
        background-repeat: no-repeat;
        transform: rotate(0deg);
        background-color: #E0900E;
    }

    .accordion-button.collapsed::after {
        background-color: #E0900E;
    }

    /* footer */
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 0px;
        margin-top: 60px;
        border: 1px solid #E0900E;
    }

    .footer p {
        font-family: Urbanist;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 1%;
        text-align: center;
        vertical-align: middle;
        color: white;
        margin: 30px 0px 0px 0px;
        padding: 0px;
    }

    .footer-child {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 30px;
    }

    .footer-child-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .foot-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .foot-logo img {
        width: 30%;
    }

    .footer-child-left ul {
        padding: 0px;
        list-style: none;
    }

    .footer-child-left ul li {
        padding: 5px 0px;
    }

    .footer-child-left ul li a {
        font-family: Urbanist;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 1%;
        color: white;
        text-decoration: none;
    }

    .footer-child-right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-child-right ul {
        width: 100%;
        padding: 0px;
        list-style: none;
    }

    .footer-child-right ul li {
        padding: 5px 0px;
    }

    .footer-child-right ul li a {
        font-family: Urbanist;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 1%;
        color: white;
        text-decoration: none;
    }
}